@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-900 font-body px-5 text-white;
  }
}

@layer components {
  .page-container {
    max-width: 1280px;
    @apply mx-auto;
  }
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
  }
  .banner .swiper {
    height: 100%;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .selected a {
    @apply text-white bg-secondary;
  }
  li a {
    padding: 4px 8px;
    background: white;
    display: inline-block;
    cursor: pointer;
    border-radius: 8px;
    color: rgb(51, 65, 85);
  }
}
